<ul class="extra-info">
  <li>
    <div class="my-account">
      <div class="extra-title">
        <h5>{{sessionService.userInfo?.first_name}} {{sessionService.userInfo?.last_name}}
          ({{sessionService.userInfo?.username}})</h5>
      </div>
      <ul>
        <li><a href="mailto:{{sessionService.userInfo?.email}}">{{sessionService.userInfo?.email}}</a></li>
      </ul>
    </div>
  </li>
  <li>
    <div>
      <ul>
        <li>
          <button routerLink="/account/me" type="button" class="os-btn button">
            <i class="fa fa-user-circle"></i>
            Mon Compte
          </button>
        </li>
      </ul>
    </div>
  </li>
  <li>
    <div class="">
      <ul>
        <li>
          <button (click)="logout()" routerLink="/home" type="submit" class="os-btn button">
            <i class="fa fa-door-open"></i>
            Se déconnecter
          </button>
        </li>
      </ul>
    </div>
  </li>
</ul>
