.img-circle {
  border-radius: 100%;
  width: 100px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

hr {
  width: 50%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
