<div class="product__wrapper mb-40">
  <div class="row">
    <div class="col-xl-4 col-lg-4">
      <div class="product__thumb">
        <a [routerLink]="['/shop/shop-details', object.id]" class="w-img">
          <img [src]="object.image" alt="product-img">
          <img class="product__thumb-2" [src]="object.image" alt="product-img">
        </a>
      </div>
    </div>
    <div class="col-xl-8 col-lg-8">
      <div class="product__content p-relative">
        <div class="product__content-inner list">
          <h4><a [routerLink]="['/shop/shop-details', object.id]">{{object.name}}</a></h4>
          <div class="product__price-2 mb-10">
            <a [routerLink]="['/object/search']" [queryParams]="{ category_id: object.category_id }">
              <span>{{ object.category?.name }}</span>
            </a>
            <a [routerLink]="['/account/', object.user_id]">
              <span class="" style="color:#a3a3a3;">{{object.user?.username}}</span>
            </a>
          </div>
          <p>{{object.description}}</p>
          <div class="product__list mb-30">
            <ul>
              <!-- <li *ngFor="let list of object.details.details_list?.slice(0,3)">
                            <span>{{list}}</span>
                          </li> -->
            </ul>
          </div>
        </div>
        <div class="add-cart-list d-sm-flex align-items-center">
          <a [routerLink]="['/object', object.id]" class="add-cart-btn mr-10 cursor-pointer">
            <i class="fal fa-eye"></i>
            Detail
          </a>
        </div>
        <!-- shop modal start -->
      </div>
    </div>
  </div>
</div>
