<div class="mini-cart">
  <div *ngIf="exchangeItems.length === 0">
    <h5>Aucun échange en cours actuellement.</h5>
  </div>
  <div *ngIf="exchangeItems.length > 0" class="mini-cart-inner">
    <ul [ngClass]="['mini-cart-list', exchangeItems.length === 2 ? 'slider-height_1' :  exchangeItems.length === 3 ? 'slider-height_2' : 'slider-height']">
      <li *ngFor="let item of exchangeItems" class="li-mni-cart" routerLink="/exchange/{{item.id}}">
        <div>
          <div class="cart-img f-left">
            <p>Proposeur : </p>
          </div>
          <div class="cart-content f-left text-left">
            <h5>
              {{ item.proposer_user_id.toString() == userId ? "Moi" : item.proposer.username}}
            </h5>
          </div>

        </div>
        <div>
          <div class="cart-img f-left">
            <p>Receveur : </p>
          </div>
          <div class="cart-content f-left text-left">
            <h5>
              {{ item.receiver_user_id.toString() == userId ? "Moi" : item.receiver.username}}
            </h5>
          </div>

        </div>
      </li>
    </ul>
    <div class="total-price d-flex justify-content-between mb-30">
      <span>Nombre d'échanges en cours:</span>
      <span>{{exchangeItems.length}}</span>
    </div>
    <div class="checkout-link">
      <a routerLink="/exchange/in-progress" class="os-btn">Voir les échanges en cours</a>
    </div>
  </div>
</div>
