<div class="product__wrapper mb-60">
  <div class="product__thumb">
    <a [routerLink]="['/object', object.id]" class="w-img">
      <img [src]="object.image" alt="product-img" class="product-img">
      <img class="product__thumb-2 product-img" [src]="object.image" alt="product-img">
    </a>    
  </div>
  <div class="product__content p-relative">
    <div class="product__content-inner">
      <h4><a [routerLink]="['/object', object.id]" [innerHTML]="object.name"></a></h4>
      <div class="product__price transition-3">
        <span>{{object.category?.name}}</span>
        <span class="" style="color:#a3a3a3;">{{object.user?.username}}</span>
      </div>
    </div>
    <div class="add-cart p-absolute transition-3">
      <a [routerLink]="['/object', object.id]" class="cursor-pointer">
        Detail
      </a>
    </div>
  </div>
</div>
