.object-details {
    &__content {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      align-items: flex-start;
    }
  
    .object-details__tag {
      i {
        color: #bc8246;
      }
    }
  
    &__image-box {
      text-align: center;
    }
  
    &__image {
      width: 100%;
      max-width: 500px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  
    &__info {
      background: #f9f9f9;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      flex: 1;
    }
  
    &__title {
      font-size: 1.8rem;
      font-weight: bold;
      margin-bottom: 15px;
    }
  
    &__description {
      font-size: 1.2rem;
      margin-bottom: 20px;
    }
  
    &__tag {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      border-bottom: 1px solid #e0e0e0;
  
      &:last-child {
        border-bottom: none;
      }
  
      span {
        font-size: 1rem;
        color: #333;
      }
  
      a {
        color: #bc8246;
        text-decoration: none;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  
  .icon-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
  
    .icon-button {
      font-size: 1.5rem;
      cursor: pointer;
      color: #bc8246;
  
      &:hover {
        color: #a36629;
      }
    }
  }
  